#pinsWrapper {

    right: 5px;
    position: absolute;
    width: 190px;
    top: 50px;
    z-index: 999;

}

#pinwrapper {
    position: absolute;
    top: 0;
    border: 1px solid #CCC;
    width: 100%;

}

#pinwrapper.fixed {
    position: fixed;
    top: 50px;
    border: 1px solid #CCC;
    width: 190px;
}

#saveList th {
    text-align: left
}

#pins {
    background-color: #FFF;
}

.thrive-admin-bar {
    display: none;
}

@CHARSET "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    tab-content: '';
    tab-content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of reset */

body {
    background: #fff;
    margin: 0;
}

.clear {
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

a {
    text-decoration: none;
}

#tab-container {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 3em auto;
    width: 100%;
    overflow: hidden;
}

#tab-container ul {
    list-style: none;
    list-style-position: outside;
    width: 100%;
}

#tab-container ul.tab-menu li {
    display: block;
    float: left;
    position: relative;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    background: #eee;
    border: 1px solid #ddc;
    border-bottom: none;
    border-width: 1px;
    color: #999;
    cursor: default;
    height: 14px;
    margin-bottom: -1px;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#tab-container ul.tab-menu li.active {
    background: #fff;
    color: #0088CC;
    height: 15px;
    border-bottom: 0;
}

.tab-top-border {
    border-bottom: 1px solid #d0ccc9;
}

.tab-content {
    margin: 0 auto;
    background: #efefef;
    background: #fff;
    border: 1px solid #ddc;
    border-top-style: none;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 11px;
    display: none;
    height: 100%;
}

#tab-container div.active {
    display: block;
}

.tab-content h1 {
    line-height: 1em;
    height: 28px;
    font-size: 22px;
}

.textbox-custom {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    outline: none;
    height: 25px;
    width: 275px;
    float: right;
}

input[type=file] {
    color: transparent;
    width: 105px;
    margin-left: 0px;
}

.headlines-custom {
    padding-left: 0px;
    font-size: 16px;
    padding-top: 15px;
    color: black;
    font-style: italic;
}

div.mYimg {
    margin: 5px;
    padding: 5px;

    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.mYimg img {
    display: inline;

}

.myButton {
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
    background-color: #33bdef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 17px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef', GradientType=0);
    background-color: #019ad2;
}

.myButton:active {
    position: relative;
    top: 1px;
}

table, td, tr {
    padding-top: 15px;
}

.myButton-custom {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2', GradientType=0);
    background-color: #33bdef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    margin: 5px;
}

.myButton-custom:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef', GradientType=0);
    background-color: #019ad2;
}

.myButton-custom:active {
    position: relative;
    top: 1px;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/*----------------------*/

.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}

.zebra th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px border-radius : 0 0 6 px 6 px
}

#html-tab > form > table {
    width: 40%;
}

textarea {
    resize: none;
}


#description
{
    width: 600px;
    height: 120px;
    padding: 5px;
    margin-top:5px;

}
